<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

  <div id="app">
    <v-app>
      <v-main>
        <v-navigation-drawer app permanent>
          <!-- {{form}} -->
          <div v-if="form.types">
            <div>
              {{form.waterHeight}}
              <v-slider label="waterHeight" thumb-label v-model="form.waterHeight" min="0" max="50" step="0.25"></v-slider>
            </div>
            <div>
              {{form.bumpScale}}
              <v-slider label="bumpScale" thumb-label v-model="form.bumpScale" min="0" max="300" step="1"></v-slider>
            </div>

            <b>water</b>
            <v-slider thumb-label v-model="form.types.water[0]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.water[1]" min="0" max="1" step="0.01"></v-slider>
            <!-- <v-slider thumb-label v-model="form.types.water[2]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.water[3]" min="0" max="1" step="0.01"></v-slider> -->

            <b>sandy</b>
            <v-slider thumb-label v-model="form.types.sandy[0]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.sandy[1]" min="0" max="1" step="0.01"></v-slider>
            <!-- <v-slider thumb-label v-model="form.types.sandy[2]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.sandy[3]" min="0" max="1" step="0.01"></v-slider> -->

            <b>grass</b>
            <v-slider thumb-label v-model="form.types.grass[0]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.grass[1]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.grass[2]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.grass[3]" min="0" max="1" step="0.01"></v-slider>

            <b>rocky</b>
            <v-slider thumb-label v-model="form.types.rocky[0]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.rocky[1]" min="0" max="1" step="0.01"></v-slider>
            <!-- <v-slider thumb-label v-model="form.types.rocky[2]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.rocky[3]" min="0" max="1" step="0.01"></v-slider> -->

            <b>snowy</b>
            <v-slider thumb-label v-model="form.types.snowy[0]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.snowy[1]" min="0" max="1" step="0.01"></v-slider>
            <!-- <v-slider thumb-label v-model="form.types.rocky[2]" min="0" max="1" step="0.01"></v-slider>
            <v-slider thumb-label v-model="form.types.rocky[3]" min="0" max="1" step="0.01"></v-slider> -->
          </div>
        </v-navigation-drawer>
        
        <div id="webgl"></div>
        
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
  <script type="module" src="app.js"></script>  
</body>
</html>